.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--background-footer);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__social {
    display: flex;
    padding-left: 60%;
    padding-right: 1%;
}

.footer__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}

.footer__navegacion {
    color: var(--background-blanco);
    font: var(--open-sans);
    line-height: 3;
    margin-left: -60%;
}

.footer__enlace {
    display: inline-block;
    margin: 0 .5rem .7rem;
}