.head {
    color: var(--background-blanco);

    width: 100%;

    box-sizing: border-box;

    display: block;
    flex-direction: column;
    align-items: center;

    padding-top: 0.75rem;
    padding-bottom: .75rem;

    position: absolute;
}

.head__logo {
    /*margin-bottom: 1rem;
    padding-bottom: 20px;*/
    float: left;
    max-width: 100%;
    height: auto;    
}

.head__navegacion {
    text-align: center;
    float: right;
    padding-top: 1.90rem;
}

.head__enlace {
    font-size: 1.1rem;

    display: inline-block;

    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;
}
